body, ul, li { padding: 0; margin: 0; }
ul, ol { list-style: none; }
.xuSlider { width: 600px; height: 300px; overflow: hidden; position: relative; }
.xuSlider { margin: 0 auto; }
.viewport { position: relative; overflow: hidden; width: 100%; height: 100%; }
.sliders { position: absolute; left: 0; }
.sliders:after { content: "."; display: block; visibility: hidden; height: 0; clear: both; }
.sliders li img { max-width: 100%; display: block; }
.direction-nav a { 
	display: inline-block; position: absolute; top: calc( 50% - 33px );
	color: #eee;
	transition: all .2s; 
}
.direction-nav i { display: none; }
/*.prev { left: -60px; } 
.next { right: -60px; }
.xuSlider:hover .prev { left: 4px; }  
.xuSlider:hover .next { right: 4px; }  */

.prev { left: 4px; } 
.next { right: 4px; }

.control-nav { position: absolute; bottom: 10px; width: 100%; text-align: center; }
.control-nav li { margin: 0 4px; display: inline-block; zoom: 1; *display: inline; }
.control-nav a { width: 40px; height: 8px; display: block; background-color: rgba(255, 255, 255, 0.5); text-indent: -999em; 1border-radius: 50%; }
.control-nav a:hover { background-color: rgba(255, 255, 0, 0.9); }
.control-nav .active a { background-color: rgba(255, 255, 0, 0.8); cursor: pointer; }